    <div class="row mt-4">
      <section class="col">
        <div class="row">
          <div class="todo-list">
          <article class="col-12" *ngFor="let todo of todoList">
            <app-todo-card
              [todo]="todo"
              (delete)="deleteItem($event)"
          
            ></app-todo-card>
          </article>
        </div>
        </div>
      </section>
      <aside class="col-3">
        <app-todo-form (newItemEvent)="addItem($event)"></app-todo-form>
      </aside>
    </div>
