<div class="container">
  <div class="row mt-4">
    <section class="col">
      <div class="row">
        <div class="done-list">
        <h1 class="list-title">Done list | {{doneList.length}}</h1>
        <article class="col-12" *ngFor="let todo of todoList" (ngModelChange)="onFilterChange()">
          <app-todo-card
            [todo]="todo"
            (delete)="deleteElement($event)"
            (onDone)="markDone($event)"
            (onUndone)="markUndone($event)"
            (modify)="modifyCard($event)"
          ></app-todo-card>
        </article>
      </div>
     
      </div>
    </section>
    <aside class="col-3">
      <app-todo-form 
      (newItemEvent)="addItem($event)" [toEdit]="toDoCopy"
      (newEditEvent)="addEditedTodo($event)">
      </app-todo-form>
    </aside>
  </div>
</div>
