<form [formGroup]="todoForm" action="post">
  <label for="nome">Nome</label>
  <input *ngIf="!toEdit" type="text" formControlName="nome" name="nome"/>
  <input *ngIf="toEdit" type="text" formControlName="nome" name="nome">
  <ng-container *ngIf="todoForm.get('nome')?.touched">
    <p *ngIf="todoForm.get('nome')?.hasError('required')" class="text-danger">Il campo è obbligatorio</p>
  </ng-container>
  <label for="deadline">Deadline</label>
  <input type="date" formControlName="date">
  <ng-container *ngIf="todoForm.get('deadline')?.touched">
    <p *ngIf="todoForm.get('deadline')?.hasError('deadline')" class="text-danger">La deadline deve essere almeno il giorno successivo ad oggi</p>
  </ng-container>
  <label for="descrizione">Descrizione</label>
  <textarea *ngIf="!toEdit" name="" id="" cols="30" rows="10" formControlName="descrizione" name="descrizione"></textarea>
  <textarea *ngIf="toEdit" name="" id="" cols="30" rows="10" formControlName="descrizione" name="descrizione"></textarea>
  <ng-container *ngIf="todoForm.get('descrizione')?.touched">
    <p *ngIf="todoForm.get('descrizione')?.hasError('required')" class="text-danger">Il campo è obbligatorio</p>
  </ng-container>
  <div *ngIf="!toEdit" class="form-buttons">
    <input [disabled]="todoForm.invalid" class="btn btn-primary" type="submit" value="Aggiungi" (click)="addNewItem()">
  </div>
  <div class="modification" *ngIf="toEdit">
    <input class="nullify btn btn-danger" type="submit" value="Annulla" (click)="reverseEdit()">
    <input class="modify btn btn-primary" type="submit" value="Modifica" (click)="confirmEdit()">
    </div>
</form>
